<title>Salesforce Lightning Out on Heroku</title>
<script src="https://emirishettysrividya-developer-edition.ap4.force.com/lightningOutDemo/lightning/lightning.out.js"></script> <!-- Replace with own Community URL -->
